<app-admin-menu></app-admin-menu>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>

</head>
<body>

  <br><br><br><br>
    <!-- Body Section -->
    <div class="body-section">
        <h1> Welcome to Admin Dashboard</h1>
        <p>The <strong>Admin Dashboard</strong> is the control center for managing users, subjects, and attendance. You can add new users in the <strong>Add User</strong> section, view all users in <strong>All Users</strong>, and modify user details under <strong>Edit User</strong>. For educational content, subjects can be added via <strong>Add Subject</strong>, managed in <strong>All Subjects</strong>, and edited in <strong>Edit Subject</strong>. Lastly, the <strong>View All Attendance</strong> section provides an overview of attendance records across the platform.</p>

        <!-- Full-width Image -->
        <img class="full-width-image" src="assets/images/admin-dashboard1.jpg" alt="Full Width Image">
    </div>

</body>
</html>
